<footer class="footer">
    <div class="footer__form">
        <div class="container">
            <h2 class="footer__form-title">Оставьте ваши контактные<br>данные и дожидайтесь звонка</h2>
            <form class="footer__form-block">
                <input class="footer__form-input" type="text" placeholder="Имя">
                <input class="footer__form-input" type="tel" placeholder="Мобильный номер">
                <input class="footer__form-input" type="email" placeholder="Email">
                <button class="footer__form-btn btn" type="submit">Перезвоните мне</button>
            </form>
        </div>
    </div>
    <div class="footer__info">
        <div class="container footer__info-inner">
            <div class="logo">
                ALL MD ADVISORS
            </div>
            <address class="footer__info-adress">
                <span>Contacts:</span>
                <a class="footer__contacts-link" href="tel:+35796716241">+35796716241</a>
                <a class="footer__contacts-link" href="mailto:email@gmail.com">Email@gmail.com</a>
                <ul class="footer__social">
                    <li class="footer__social-item">
                        <a class="footer__social-link telegram" href="https://t.me/katia_katerina22" aria-label="telegram"></a>
                    </li>
                    <li class="footer__social-item">
                        <a class="footer__social-link whatsup" href="#" aria-label="whasup"></a>
                    </li>
                </ul>
            </address>
            <a class="footer__privacy" href="#">Политика конфиденциональности</a>
        </div>
    </div>
</footer>