<section class="services">
    <h2 class="container services__title">
        По каким вопросам Вы<br>можете к нам обратиться?
    </h2>
    <ul class="services__list">
        <li class="services__list-item item1">
            <div class="container">
                <h3 class="services__list-title">
                    Кадровое агентство
                </h3>
            </div>
        </li>
        <li class="services__list-item item2">
            <div class="container">
                <h3 class="services__list-title">
                    Ивенты
                </h3>
            </div>
        </li>
        <li class="services__list-item item3">
            <div class="container">
                <h3 class="services__list-title">
                    Юридические услуги
                </h3>
            </div>
        </li>
    </ul>
</section>